Ammo {
	position: absolute;
	right: 50px;
	bottom: 50px;

	Panel {
		background-color: rgba(0, 0, 0, 0.3);
		border-radius: 7px;
	}

	.Counter {
		margin: 5px;
		font-family: Verdana;
		font-size: 50px;
	}

	.Reserve {
		position: relative;
		top: 38px;
		margin: 5px;
		font-family: Verdana;
		font-size: 12px;
		font-weight: bold;
	}

	.Alt {
		margin-left: 30px;
	}
}

.Hidden {
	display: none;
}