Health {
	position: absolute;
	left: 37px;
	bottom: 27px;
	width: 229px;
	height: 81px;
	font-weight: 800;
	background-color: rgba( #3472e6, 1 );
	border-radius: 7px;

	.HealthText {
		position: absolute;
		left: 112px;
		bottom: -5px;
		font-family: Poppins;
		font-size: 61px;
	}

	.HealthTextName {
		position: absolute;
		left: 28px;
		bottom: 13px;
		font-family: Poppins;
		font-size: 17px;
		font-weight: 700;
	}
}

.Hidden {
	display: none;
}