TeamSelection {
	left: 20%;
	top: 20%;
	width: 60%;
	height: 60%;
	justify-content: space-between;
	opacity: 0;

	.Selection {
		width: 45%;
		background-color: rgba(0, 0, 0, 0.3);
		border-radius: 7px;
		text-align: center;
		flex-direction: column;
		cursor: pointer;

		Label {
			position: absolute;
			width: 100%;
			font-family: Verdana;
			font-size: 50px;
		}

		.TeamText {
			top: 5%;
		}

		.PlayersText {
			bottom: 6%;
		}

		.ImageWrapper {
			position: absolute;
			width: 100%;
			height: 100%;
			align-items: center;
			justify-content: center;

			.Image {
				width: 396px;
				height: 396px;
				.Blocked {
					width: 100%;
					height: 100%;
					background-image: url(/ui/blocked.png);
				}
			}
		}

		&.Seekers {
			color: #FFF000;
			.Image {
				background-image: url(/ui/seeker.png);
			}
		}

		&.Props {
			color: #00F0FF;
			.Image {
				background-image: url(/ui/props.png);
			}
		}
	}
}

.ShowTeamSelection TeamSelection {
	opacity: 1;
	pointer-events: all;
}