Team {
	position: absolute;
	left: 37px;
	bottom: 119px;
	width: 229px;
	height: 64px;
	background-color: rgba( #3472e6, 1 );
	border-radius: 7px;
	font-weight: 800;
	justify-content: center;

	.Text {
		align-items: center;
		font-family: Poppins;
		font-size: 30px;
		font-weight: 700;
	}
}

.Hidden {
	display: none;
}
