TeamSelection {
	left: 20%;
	top: 38%;
	width: 60%;
	height: 25%;
	justify-content: space-between;
	opacity: 0;
	transition: all 0.1s ease-out;

	.Selection {
		width: 45%;
		background-color: rgba( #3472e6, 1 );
		border-radius: 7px;
		text-align: center;
		flex-direction: column;
		cursor: pointer;

		Label {
			position: absolute;
			width: 100%;
			font-family: Poppins;
			font-weight: 800;
			font-size: 50px;
		}

		.TeamText {
			top: 5%;
		}

		.PlayersText {
			bottom: 6%;
		}

		.ImageWrapper {
			position: absolute;
			width: 100%;
			height: 100%;
			align-items: center;
			justify-content: center;

			.Image {
				width: 0px;
				height: 0px;
				max-width: 396px;
				max-height: 396px;

				.Blocked {
					width: 100%;
					height: 100%;
					background-image: url(/ui/blocked.png);
				}
			}
		}

		&.Seekers {
			color: white;

			.Image {
			}
		}

		&.Props {
			color: white;

			.Image {
			}
		}
	}
}

.ShowTeamSelection TeamSelection {
	opacity: 1;
	pointer-events: all;
}