Timer {
	position: absolute;
	left: 50%;
	top: 50px;
	min-width: 100px;
	transform: translateX(-50%);
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 7px;

	.Round {
		padding: 5px;
		font-family: Verdana;
		font-size: 20px;
	}

	.Timer {
		display: none;
		padding-bottom: 5px;
		flex-direction: column;
		align-items: center;
		font-family: Verdana;
		font-size: 20px;

		.Title {
			font-size: 12px;
			font-weight: bold;
		}

		&.Show {
			display: block;
		}
	}
}

.Hidden {
	display: none;
}
